---
import type { IModule } from "../utils/types/ClientInfo";
import Layout from "../layouts/Layout.astro";
import ClientInfo from "../../public/client-info.json";
import Tab from "../components/ClickGUI/Tab.astro";
import Notification from "../components/Notification/Notification.astro";
---

<Layout title="Raven B4 - Click GUI Demo" rainbow>
	<main id="ui">
		<textarea id="config" placeholder="(Put your config here!)"></textarea>
		<button id="import-config">import config</button>
		<script>
			import importConfig from "../utils/export.ts";
			document.querySelector("#import-config").addEventListener("click", () => {
				const config = document.querySelector("#config").value;
				importConfig(config);
			});
		</script>
		<div id="clickgui">
			{
				ClientInfo.categories.map(tabName => {
					const modules = new Map();
					for (const modName in ClientInfo.modules) {
						const mod = ClientInfo.modules[modName as "Killaura"];
						if (mod.category !== tabName) continue;
						modules.set(modName, mod as IModule);
					}
					return <Tab name={tabName} modules={modules} />;
				})
			}
		</div>
		<div id="target-info"></div>
		<div id="array-list"></div>
		<div id="notification">
			<Notification title="Test" description="Test" />
		</div>
	</main>
</Layout>

<style>
	#clickgui {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		align-items: flex-start;
	}
</style>
